<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="🧪.svg"/>
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://cocaine.trade/">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="Firmware archive for Meta Quest & Kindle">
  <meta property="og:image" content="https://cocaine.trade/preview.png">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="cocaine.trade">
  <meta property="twitter:url" content="https://cocaine.trade/">
  <meta property="twitter:title" content="{{ title }}">
  <meta property="twitter:description" content="Firmware archive for Meta Quest & Kindle">
  <meta property="twitter:image" content="https://cocaine.trade/preview.png">
  <!-- Meta Description -->
  <meta name="description" content="Download the latest meta quest & kindle firmware files for your devices.">
</head>
<body>
<div id="main">
  {{ body | safe }}
</div>
</body>
</html>
