<h1 class="monospace"><span class="link-white">Welcome to </span><span class='link-red'>Cocaine</span><span class='link-blue'>.Trade</span></h1>
<p class="author-notice monospace"><span class="link-white">by </span><a href="https://twitter.com/ptrpaws" class='link link-gold'>ellie :3</a></p>
<h3 class="monospace">Firmware Download</h3>
<details open><summary>Meta</summary>
  {{ meta_links | safe }}
</details>
<details><summary>Kindle</summary>
  {{ kindle_links | safe }}
</details>
<h3 class="monospace">Personal Blog</h3>
<a href='https://blahaj.life' class='link link-white'>Blahaj Life</a>