<h1><span class="link-white">Welcome to </span><span class='link-red'>Cocaine</span><span class='link-blue'>.Trade</span></h1>
<p class="author-notice"><span class="link-white">by </span><a href="https://twitter.com/ptrpaws" class='link link-gold'>ellie :3</a></p>
<h3>Firmware Archives</h3>
<details open><summary>Meta Devices</summary>
  {{ meta_links | safe }}
</details>
<details><summary>Kindle Devices</summary>
  {{ kindle_links | safe }}
</details>
<h3>Personal Blog</h3>
<a href='https://ptrpa.ws' class='link link-white'>ptrpa.ws</a>
