name: Build and Deploy Website

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Build and run the application
        run: cargo run --release --locked

      - name: Install and Start WireGuard
        env:
          WG_PRIVATE_KEY: ${{ secrets.WG_PRIVATE_KEY }}
          WG_ADDRESS: ${{ secrets.WG_ADDRESS }}
          WG_DNS: ${{ secrets.WG_DNS }}
          WG_PEER_PUBLIC_KEY: ${{ secrets.WG_PEER_PUBLIC_KEY }}
          WG_PEER_ALLOWED_IPS: ${{ secrets.WG_PEER_ALLOWED_IPS }}
          WG_PEER_ENDPOINT: ${{ secrets.WG_PEER_ENDPOINT }}
          WG_PEER_PRESHARED_KEY: ${{ secrets.WG_PEER_PRESHARED_KEY }}
        run: |
          sudo apt install -y wireguard-tools
          cat <<EOF > wg0.conf
          [Interface]
          PrivateKey = $WG_PRIVATE_KEY
          Address = $WG_ADDRESS
          DNS = $WG_DNS

          [Peer]
          PublicKey = $WG_PEER_PUBLIC_KEY
          AllowedIPs = $WG_PEER_ALLOWED_IPS
          Endpoint = $WG_PEER_ENDPOINT
          PresharedKey = $WG_PEER_PRESHARED_KEY
          EOF
          chmod 600 wg0.conf
          sudo mv wg0.conf /etc/wireguard/wg0.conf
          sudo wg-quick up wg0

      - name: Upload to SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.6
        with:
          server: ${{ secrets.SFTP_SERVER }}
          username: ${{ secrets.SFTP_USERNAME }}
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          local_path: build/*
          remote_path: ${{ secrets.SFTP_FOLDER }}
          sftp_only: true
